button{
    background-color:rgb(114, 188, 246) ;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 30%;
    transition: all 500ms ease-in-out;
}
button:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: rgb(80, 173, 245) ;
}
.tablebox{
  
  padding: 1rem;
}
.table{
  justify-content: space-around;
   border-radius: 10px;
}